.container {
    border: 3px solid #19678b;
    width: 40%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;

}

#imgUser {
    border-radius: 50%;
    border: 3px solid #19678b;
    width: 50px;
}